.create {
  background: #f9f9f9;
  .create-buget {
    margin-top: 70px;
    padding: 40px;
    .create-buget__title {
      padding-bottom: 60px;
      h1 {
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 52px;
        letter-spacing: 1.6px;
        color: #212121;
      }
    }
  }
}
