.compaines__card__body {
  p {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.4px;
    color: #212121;
  }
}
.compaines__brands__logo {
  border: 1px solid gray;
  width: 33.33333%;
  img {
    padding: 80px;
  }
}
.compaines__brands__logo:hover {
  background: #9bb71e;
  color: white;
  cursor: pointer;
}
.compaines__brands {
  margin-bottom: 150px !important;
}

@media screen and (max-width: 1020px) {
  .compaines__card {
    flex-wrap: wrap;
    .compaines__card__item {
      img {
        // width: 100%;
      }
      // text-align: center;
    }
  }
  .compaines__brands__logo {
    width: 50% !important;
  }
  .compaines__brands {
    justify-content: center;
    flex-direction: column;
  }
}
@media screen and (max-width: 700px) {
  .compaines__card {
    margin-top: 30px;
    flex-direction: column;
    justify-content: center;
  }
  .compaines__brands__logo {
    width: 100% !important;
    img {
      // width: 100%;
    }
  }
}
@media screen and (max-width: 410px) {
  .compaines__brands__logo {
    img {
      padding: 60px 20px !important;
    }
  }
}
@media screen and (max-width: 355px) {
  body {
    overflow-x: hidden;
  }
}
@media screen and (max-width: 1300px) {
  .compaines__brands {
    flex-wrap: wrap;
  }
  .compaines__brands__logo {
    margin-bottom: 30px;
    // img {
    //   width: 100%;
    // }
  }
}
